@model AutoHub.Web.ViewModels.Reviews.SingleReviewViewModel


    <a asp-controller="Reviews" asp-action="AllReviews">‹ Back to all reviews</a>
    <hr />

    <div class="mt-10">
        <div>
            <h2 >@Model.Title </h2>
        </div>
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item mt-2" src="@Model.VideoUrl"></iframe>
        </div>

        <p class="text-center mt-3 h3">
            @Model.Description
        </p>
    </div>