@model AutoHub.Web.ViewModels.Cars.CarsListViewModel

@{
    ViewData["Title"] = "All cabriolets";
}

<h2>All cabriolets page @Model.PageNumber </h2>

<partial name="_CarsInCarsPartial" model="@Model" />