@model AutoHub.Web.ViewModels.Cars.CarsListViewModel
@inject IFormatorForViews formator

@{
    this.ViewData["Title"] = "All Cars";
}
@*<div class="col-md-4">
    <label ></label>
    <select id="filter" class="form-control">
        <option disabled value=''>Order cars by</option>
        <option value='latest'>Latest</option>
        <option value='descending'>Price descending</option>
        <option value='ascending'>Price ascending</option>
    </select>
</div>*@

<div class="row">
    <a asp-action="All" asp-route-sortingOrder="latest" class="mr-4 ml-4">Latest</a>

    <a asp-action="All" asp-route-sortingOrder="descending"  class="mr-4" >Price descending</a>

    <a asp-action="All" asp-route-sortingOrder="ascending"  class="mr-4">Price ascending</a>
</div>


<div class="mt-5">
    <partial name="_CarsInCarsPartial" model="@Model" />
</div>
<h2>All cars page @Model.PageNumber </h2>

<hr />
<partial name="_PagingPartial" model="@Model" />

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>


<script>
    var dropDown = document.getElementById("filter");

    dropDown.addEventListener("change", async (e) => {
        e.preventDefault();
        console.log(e.target.value);

       //const response = await fetch(`/carmodels/getModels?Id=${e.target.value}`);
    })
</script>


