@model AutoHub.Web.ViewModels.Cars.CarsListViewModel
@inject IFormatorForViews formator

@{
    this.ViewData["Title"] = "All Cars";
}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<div class="mt-5">
    <partial name="_CarsInCarsPartial" model="@Model" />
</div>
<h2>All cars page @Model.PageNumber </h2>

<hr />
<partial name="_PagingPartial" model="@Model" />

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>



