<h1>You have some questions </h1>
<h4>Send us an email and we will try to solve your problem</h4>

<form asp-action="SendEmail" method="post">
    <div>
        <label>From </label>
        <input type="text" name="from" value="" />
    </div>

    <div>
        <label>To </label>
        <input type="text" name="to" value="" />
    </div>


    <div>
        <label>Description </label>
        <input type="text" name="description" value="" />
    </div>
    <button class="btn btn-primary"> </button>
</form>

