<style>

    .container1 {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
</style>


<div class="container1 alert-success">
    <p class="alert-success">Thanks for adding your advert in our site</p>
</div>
<p>
    If you want to add another add <a href="/Cars/AddCar">click here</a> or go back to the <a href="/">main page</a>
</p>
T