@using AutoHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<style>
    /*iframe {
        width : 1120px;
        height : 600px;
        margin: 0 auto;
    }*/
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yylk7IlYvj8"></iframe>
</div>


@*<iframe   class="embed-responsive embed-responsive-21by9" src="https://www.youtube.com/embed/yylk7IlYvj8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@

<a href="https://www.youtube.com/embed/yylk7IlYvj8">
    <img src="https://img.youtube.com/vi/yylk7IlYvj8/hqdefault.jpg" />
</a>

