@model AutoHub.Web.ViewModels.Cars.CarsListViewModel

@{ 
    ViewData["Title"] = "Search";
}


<hr />
<div class="row">

    <div class="mt-5">
        <partial name="_CarsInCarsPartial" model="@Model" />
    </div>

</div>

<hr />


